.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.form-section {
  margin-bottom: 20px;
}

.list-section {
  text-align: center;
}

.clear-button, .navigate-button {
  margin: 10px; /* Adds spacing between the buttons */
}

.team-list {
  margin-bottom: 20px; /* Adds vertical space between TeamList and buttons */
}
